.userSettingsPageRoot {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: var(--spacing-xl) var(--spacing-m);
  width: 100vw;
  min-height: 100vh;
}

.userSettingsPage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 100%;
  max-width: 680px;
}

.userSettingsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  height: fit-content;

  :last-child {
    margin-left: auto;
  }
}

.userSettingsHeaderTitle {
  font: var(--font-title-medium);
}

.userSettingsDescription {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  border-radius: var(--spacing-s);
  background-color: var(--surface-container);
  padding: var(--spacing-m);
}

.userSettingsIdentity {
  display: flex;
  flex-direction: column;
  font: var(--font-body-medium);
}

.userSettingsIdentityName {
  color: var(--primary);
  font: var(--font-body-medium);
}

.userSettingsIdentityFullname {
  color: var(--on-surface);
  font: var(--font-title-medium);
}

.userSettingsIdentityEmail {
  color: var(--on-surface-retreat);
  font: var(--font-body-medium);
}

.userSettingsIdentityRole {
  color: var(--on-surface-retreat);
  font: var(--font-body-medium);
}

.userSettingsApplication {
  display: flex;
  gap: var(--spacing-m);
}

.userSettingsConversation {
  border-radius: var(--spacing-s);
  background-color: var(--surface-container);
  padding: var(--spacing-m);
  min-height: 15rem;
}

.userSettingsLegals {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-2xs);
}
