.cursor {
  display: inline-block;
  vertical-align: text-bottom;
  animation: blink 1s step-end infinite;
  margin-left: 1px;
  background: currentColor;
  width: 2px;
  height: 1em;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
